body {
    background-color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    
}


fieldset {
    background-color: #000;
    border: 2px solid #ff4500;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    height: auto;
}

hr {
    border: 0;
    height: 3px;
    background: brown;
    margin: 20px 0;

}



h4 {
    color: #fff;
    margin-top: 10px;
    text-align: center;
    color:brown;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin: 10px;
    
}



footer {
    text-align: center;
    background-color: #333;
    border: 2px solid #ff4500;
    border-radius: 20px;
    padding: 20px;
}